@import url("./index.css");

/* ---------------------------- HOMEPAGE ---------------------------- */
.hero{
    line-height: normal;
    font-size: 150%;
    z-index: 1;
    min-height: 100vh;
}

.hero-container{
    display: grid;
    grid-template-rows: 1fr 1fr;

    .top-row{
        display: grid;
        grid-template-columns: 2fr 1fr;
        margin-top: 90px;
        align-items: center; /* align items vertically */
        justify-items: center; /* align items horizontally */
        margin-right: 14%;

        h1{
            font-size: 150px;
            font-weight: 600;
            background-image: linear-gradient(to left, #99755C, #4D3E2F);
            color: transparent;
            background-clip: text;
            -webkit-background-clip: text;
        }

        button {
            background-color: #254336;
            font-size: 17px;
            color: white;
            border-radius: 45px;
            width: 60%;
            height: 40%;
            text-align: center;
            transition: all 0.5s;
            cursor: pointer;
        }

        button span {
            cursor: pointer;
            display: inline-block;
            position: relative;
            transition: 0.5s;
        }

        button span:after {
            content: '\00bb';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.5s;
            color: #6B8A7A;
        }

        button:hover span {
            padding-right: 25px;
            color: #6B8A7A;
        }

        button:hover span:after {
            opacity: 1;
            right: 0;
        }
    }

    .bottom-row{
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 50%;
        justify-items: center; /* align items horizontally */

        h1{
            margin-right: 14%;
            font-size: 150px;
            font-weight: 600;
            background-image: linear-gradient(to left, #4D3E2F, #99755C);
            color: transparent;
            background-clip: text;
            -webkit-background-clip: text;
        }

        p{
            width: 80%;
            padding-top: 4%;
            color: #675D50;
        }
    }
}

.fade-in{
    animation: fadeIn ease 1s forwards;
}

.slow-fade-in{
    animation: fadeIn ease 4s forwards;
}

/* contacts */
.contact-links{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -40px;

    span{
        overflow: hidden;
        transition: 0.3s;
        font-size: 15px;
        text-align: center;
        width: 0px;
    }

    .button{
        cursor: pointer;
        height: 50px;
        width: 50px;
        background: #B7B597;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        box-shadow: 0px 10px 10px rgba (0, 0, 0, 0.1);
        margin: 5px;
        transition: 0.3s;
    }

    .button:hover{
        width: 160px;
        border-radius: 5px;
    }

    .button:hover span{
        width: 120px;
    }
}


#github{
    color: #333;
}

#linkedin{
    color: #0e76a8;
}

#whatsapp{
    color: rgb(7, 110, 7);
}



/* Projects Overview */

.card-wrapper{
    max-width: 1250px;
    margin: 0 70px 55px;
    padding: 20px 10px;
    overflow: hidden;
}
.card-list .card-item{
    list-style: none;
    display: flex;
    flex-direction: column;
}
.card-list .card-item .card-link{
    width: 400px;
    user-select: none;
    display: block;
    background: #014b25;
    border-radius: 12px;
    padding: 18px;
    text-decoration: none;
    border: solid 2px transparent;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
    transition: 0.2s ease;
}

.card-list .card-item .card-link:active{
    cursor: grabbing;
}

.card-list .card-item .card-link:hover{
    border-color: #317428;
}

.card-list .card-link .card-image{
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 10px;
}

.card-list .card-link .badge{
    color: #5372F0;
    background: #dde4ff;
    padding: 8px 13px;
    font-size: 0.95rem;
    font-weight: 500;
    margin: 16px 2px 18px;
    width: fit-content;
    border-radius: 50px;
}

.badge {
    float: left;
}

.card-list .card-link .badge.B{
    color: #254336;
    background: #F7DFF5;
}

.card-list .card-link .badge.C{
    color: #b7d4c8;
    background: #F7DFF5;
}

.card-list .card-link .badge.D{
    color: #cab32e;
    background: #F7DFF5;
}

.card-list .card-link .badge.E{
    color: #717083;
    background: #F7DFF5;
}

.card-list .card-link .badge.F{
    color: #f7a883;
    background: #F7DFF5;
}

.card-list .card-link .card-title{
    font-size: 1.19rem;
    color: rgb(255, 255, 255);
    font-weight: 600;
    margin-top: 23%;
}

.card-list .card-link .card-button{
    height: 35px;
    width: 35px;
    color: #7ea778;
    border-radius: 50%;
    margin: 30px 0 5px;
    background: none;
    cursor: pointer;
    border: solid 2px #317428;
    transform: rotate(-45deg);
}

.card-list .card-link:hover .card-button{
    color: #ffff;
    background: #4c8145;
}

.card-wrapper .swiper-pagination-bullet{
    height: 13px;
    width: 13px;
    opacity: 0.5;
    background: #19191a;
}

.card-wrapper .swiper-pagination-bullet-active{
    opacity: 1;
}

.card-wrapper .swiper-slide-button{
    color: #6B8A7A;
    margin-top: -35px;
}

.card-wrapper .swiper-slide-button:hover{
    color: #abbae4;
    margin-top: -35px;
}

@media screen and (max-width: 768px){
    .card-wrapper{
        margin: 0 10px 25px;
    }

    .card-wrapper .swiper-slide-button{
        display: none;
    }
}


/* About Me */
.about-me{
    height: 100vh; /* height of a full webpage */
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.photo-frame{
    display: grid;
    grid-template-rows: 4fr 1fr;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    background-color:#79644b;
    margin: 100px;
}

.photo-frame img{
    max-width: 90%;
    height: 90%;
    margin: auto;
    border-radius: 30px;
}

.photo-frame p{
    font-size: 40px;
    margin: auto;
    color: #DFD3C3;

}

.me{
    padding: 150px 50px;
    color: #254336;

    h2{
    font-size: 40px;
    }

    h3{
    font-size: 35px;
    color: #4a7e35;
    }

    p{
    padding: 15px 0px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    }

    li{
        list-style: none;
    }
}
