@import url('https://use.fontawesome.com/releases/v6.5.1/css/all.css');
@import url("./index.css");

.hero{
    line-height: normal;
    font-size: 150%;
    z-index: 1;
    min-height: 100vh;
}

.project-container{
    z-index: 1;
    padding-top: 90px;
    min-height: 100vh;

    h1{
        padding-bottom: 20px;
    }
}